* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(247, 41, 120, 0.411);
    margin: 8px;
}

header {
    padding: 10px;
    text-align: left; /* Alinhamento do texto no centro */
}

.minha-equipe {
    float: left;
    margin: 10px; /* Adicione alguma margem entre as equipes */
}

.hellokitty,
.kuromi {
    width: 45%; /* Certifique-se de que as imagens ocupem 100% da largura do contêiner */
    height: auto; /* Para manter a proporção original da imagem */
}
.keroppi {
    width: 35%; /* Certifique-se de que as imagens ocupem 100% da largura do contêiner */
    height: auto; /* Para manter a proporção original da imagem */
}
.minha-equipe-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
