body{
    background-color: rgba(247, 41, 120, 0.411);
}

.minha-equipe {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-around;
}
.equipe-sanrio{
    width: 10%;
}