* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(247, 41, 120, 0.411);
    margin: 8px;
}

.minha-equipe {
    display: grid;
    justify-content: space-around;
    float: left;
}
.equipe-sanrio{
    width: 70%;
}